body {
    background-color: #ffffff;
    background-image: url('background.png');
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Website content */
  .content {
    background-color: #1c87a7;
    color: white;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 1px;
    padding-bottom: 7px;
    margin-bottom: 14px;
  }
  /* Content links */
  .content a:link {
    color: #ccff99;
  }
  .content a:visited {
    color: #d1b3ff;
  }

  /* Navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #84e0cb;
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 9px 16px;
    text-decoration: none;
  }
  .topnav a:hover {
    background-color: #ffffff;
    color: black;
  }

  /* Page buttons */
  .buttontitle {
    font-weight: bold;
    font-size: 110%;
  }
  .pagebutton {
    color: white;
    background-color: rgba(0, 0, 127, 0.07);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 1px;
    margin-bottom: 6px;
    margin-top: 6px;
  }
  .pagebutton a {
    color: white;
    font-size: 110%;
    font-weight: bold;
  }
  .pagebutton:after {
    content: "";
    display: table;
    clear: both;
  }
  .buttonicon {
    float: left;
    height: 70px;
    margin-right: 8px;
  }
  .buttondesc {
    font-style: italic;
    margin-top: 2px;
  }
  .textright {
    color: #d7d7d7;
    font-style: italic;
    float: right;
  }
  
  /* Layout for mobile devices */
  @media screen and (max-width: 700px) {
    html, body {
      margin: 0%;
      background-image: none;
      background-color: #1c87a7;
    }
  }