/* Properties for the entire page */
* {
  box-sizing: border-box;
}
body {
  background-color: white;
  background-image: url('background.png');
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/* Website content */
.centerdiv {
  background-color: #95d9ee;
  padding: 16px;
  padding-bottom: 10px;
  padding-top: 1px;
}

/* Navigation bar */
.topnav {
  overflow: hidden;
  background-color: #95d9ee;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 9px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

/* Main title and background image */
.titlearea {
  background-color: black;
  background-image: url('title_bg.png');
  color: white;
  margin: 0;
  padding: 16px;
  padding-top: 90px;
  padding-bottom: 0;
  overflow: hidden;
}

/* Main icon selection area */
.textbox {
  /*border: 4px double black;*/
  padding-top: 8px; padding-bottom: 8px;
  padding-left: 4pt; padding-right: 4pt;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 14pt;
}
.bigicons {
  display: inline-block;
  vertical-align: top;
}
/* Image */
.bigicons>a>img {
  width: 95px;
  padding-bottom: 2px;
}
/* Description */
.bigicons-desc {
  font-size: 112%;
  font-weight: bold;
  width: 115px;
  min-height: 45px;
  padding: 2px;
}
.bigicons-desc>a {
  color: black;
  text-decoration: none;
}

/* Paragraph titles */
.ptitle {
  font-weight: bold;
  font-size: 110%;
}

/* Buttons linking to the sub-pages */
.sections-button {
  float: left;
  width: 50%;
  padding: 4px;
  padding-left: 3pt; padding-right: 3pt;
}
/* Link properties */
.sections-button>a {
  color: black;
  text-decoration: none;
}
/* Icons for the buttons */
.sections-button>a>img {
  height: 60px;
  padding-right: 4px;
  float: left;
}
.sections:after {
  content: "";
  display: table;
  clear: both;
}

/* Buttons at the end of the page */
.endbuttons {
  background-color: rgba(28, 88, 200, 0.4);
  color: white;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.endbuttons>a {
  color: white;
  font-weight: bold;
}

/* Layout for smaller screens */
@media screen and (max-width:845px) {
  /* Hide the extra margin that shows the bg image */
  body {
    margin-top: 0;
    margin-bottom: 0;
  }
  /* Make main icons smaller */
  .bigicons>a>img {
    width: 85px;
  }
  .bigicons-desc {
    font-size: 108%;
    width: 100px;
  }
  /* Make links not side by side */
  .sections-button {
    width: 100%;
  }
  /* Make the icons slightly larger */
  .sections-button>a>img {
  height: 62px;
  }
}

/* Layout for mobile phones */
@media screen and (max-width:600px) {
  /* Make the icons larger */
  .sections-button>a>img {
    height: 67px;
  }
}