/* Stylesheet for the homepage */
/* General properties for the page */
html {
  background-image: url("files/background.png");
}
body {
  padding-bottom: 10px;
}

/* Title */
.titlearea {
  background-color: white;
  background-image: url("files/title_bg.png");
  font-weight: bold;
  font-size: 200%;
  color: white;
  padding: 20px 18px;
  padding-top: 100px;
}

/* General information text bar */
.infobar.geninfo {
  font-size: 105%;
  margin: 7px 0px;
  padding: 7px 6px;
}
/* Icon */
.infobar.geninfo>img {
  height: 39px;
  padding-right: 7px;
}

/* Horizontal line properties */
hr {
  margin: 6px 0px;
}

/* Buttons to the subpages */
.button {
  font-size: 90%;
  width: 49.6%;
  min-height: 55px;
  padding: 2px 0.2%;
}
.button.left {
  float: left;
  clear: both;
}
.button.right {
  float: right;
}
/* Links */ 
.button>a {
  font-size: 111%;
  text-decoration: none;
  color: black;
}
.button>a:hover {
  text-decoration: underline;
}
/* Icons */
.button>a>img {
  height: 57px;
  padding-right: 5px;
  float: left;
}
/* Clear floats */
.sections:after {
  content: "";
  display: table;
  clear: both;
}

/* Sections for some of the subpages */
.subpagesection {
  background-color: #bdd4f0;
  font-size: 110%;
  padding: 8px;
}

/* Text bars with links at the bottom */
.linksbar {
  background-color: #7face3;
  margin: 5px 0px;
  padding: 8px;
}
.linksbar>a {
  font-weight: bold;
  color: white;
}

/* Paragraph title */
.ptitle {
  font-weight: bold;
  font-size: 110%;
}

/* Layout for smaller screens */
@media screen and (max-width: 680px) {
  /* Icon for the general info pages */
  .infobar.geninfo>img {
    display: none;
  }
  .subpagesection>img {
    display: none;
  }
  /* Buttons */
  .button {
    width: 99%
  }
  .button.left, .button.right {
    float: none;
    margin: 2px 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}