html {
  background-color: beige;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
p, ol, ul {
  font-size: 105%;
}
.introduction {
  color: darkslategray;
}

/* Size of the images */
.image-1 {
  height: 420px;
}
.image-2 {
  height: 290px;
}
.image-3 {
  height: 200px;
}

/* Layout for smaller screens */
@media screen and (max-width: 600px) {
  .image-1, .image-2, .image-3 {
    height: 340px;
  }
}

/* Layout for mobile devices */
@media screen and (max-width: 480px) {
  .image-1, .image-2, .image-3 {
    height: 230px;
  }
}