/* General properties */
html {
  background-color: beige;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
p, ol, ul {
  font-size: 105%;
}
.introduction {
  color: darkslategray;
}

/* Size of the images */
.image-1 {
  height: 440px;
}
.image-2 {
  height: 250px;
}
.image-3 {
  height: 180px;
}

/* Layout for smaller screens */
@media screen and (max-width: 805px) {
  .image-1, .image-2, .image-3 {
    height: 340px;
  }
}

/* Layout for mobile devices */
@media screen and (max-width: 540px) {
  .image-1, .image-2, .image-3 {
    height: 235px;
  }
}